.footer {
  background-color: $primary-color;
  .footer-links {
    width: 80vw;
    margin: 0 auto;
    list-style-type: none;
    padding: 1rem 0;
    display: flex;
    justify-content: space-around;
    align-items: center;

    li {
      animation-name: shake;
      animation-duration: 0.5s;
      animation-iteration-count: infinite;
    }
  }
}
