.portfolio {
  text-align: center;
  color: lighten($font-primary-color, 20%);
  h1 {
    margin: 1rem 0;
    font-size: 24px;
    font-weight: 100;
    text-decoration: underline;
  }

  .portfolio-card {
    border: 1px solid $font-primary-color;
    width: 95vw;
    margin: 0 auto;
    padding: 16px 0;
    border-radius: 4px;
    margin-bottom: 16px;

    img {
      margin: 1rem 0;
      border-radius: 4px;
    }

    span {
      font-style: italic;
    }
  }
}
